.btn_search {
    background: #1AAB8A;
    color: #fff;
    border: none;
    position: relative;
    height: 35px;
    font-size: 15px;
    font-weight: bold;
    padding: 0 25px;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
    border-radius: 5px;
    margin-left: auto;

}
.btn_search:hover {
    background: #fff;
    color: #1AAB8A;
    outline: none;
    margin-left: auto;
}
.btn_search:after,
.btn_search:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #1AAB8A;
    transition: 400ms ease all;
}
.btn_search:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}
.btn_search:hover:after,
.btn_search:hover:before {
    width: 100%;
    transition: 800ms ease all;
}

.btn_init {
    background: #1AAB8A;
    color: #fff;
    border: none;
    position: relative;
    height: 35px;
    font-size: 15px;
    font-weight: bold;
    padding: 0 25px;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
    border-radius: 5px;
    margin-left: auto;
}
.btn_init:hover {
    background: #fff;
    color: #1AAB8A;
    outline: none;
    margin-left: auto;

}
.btn_init:after,
.btn_init:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #1AAB8A;
    transition: 400ms ease all;

}
.btn_init:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}
.btn_init:hover:after,
.btn_init:hover:before {
    width: 100%;
    transition: 800ms ease all;
}
